<div class="flight-ticket">
    <div class="flight-left">
        <img src="http://airportcluj.ro/fisiere/userfiles/Bari_28.03.07_088.jpg" alt="">
    </div>
    <div class="flight-right">
        <div>
            <h3>{{flight.destination}}</h3><span>{{flight.dateString}}</span>
        </div>
        <div>
            from {{flight.origin}} <span>{{flight.departureTime}}</span>
        </div>
        <p>{{flight.seats}} Seats ({{flight.cost}}$ per seat) </p>
        <a href="" class="remove">REMOVE</a>
        <a href="" class="details">Details</a>
    </div>
</div>